<section
  class="relative min-h-dvh max-w-screen-xl w-full mx-auto px-4 flex flex-col items-center"
>
  <div class="h-20 w-full"></div>
  <!-- Toggle Buttons Container -->
  <app-toggle-button
    class="mt-8 mb-6"
    [options]="rows"
    [selectedOption]="selectedOption"
    (selectionChange)="onSelectionChange($event)"
  ></app-toggle-button>

  <div [ngSwitch]="selectedOption">
    <div *ngSwitchCase="'Camelia.active'">
      <app-camelia-active></app-camelia-active>
    </div>
    <div *ngSwitchCase="'Portfolio'">
      <app-portfolio></app-portfolio>
    </div>
    <div *ngSwitchCase="'Vote2U'">
      <app-vote2u></app-vote2u>
    </div>
    <div *ngSwitchCase="'Artzology'">
      <app-artzology></app-artzology>
    </div>
    <div *ngSwitchDefault>
      <app-camelia-active></app-camelia-active>
    </div>
  </div>
</section>
