<div #scrollContainer class="min-dvh relative z-10" (scroll)="onScroll()">
  <div class="background"></div>
  <app-header [activeSection]="activeSection"></app-header>
  <p-toast></p-toast>
  <!-- <button (click)="uploadAboutCards()">Upload About Cards</button> -->

  <app-landing-page id="top"> </app-landing-page>
  <app-home-page id="intro"></app-home-page>
  <app-about-page id="about"></app-about-page>
  <app-project-page id="project"></app-project-page>
  <app-contact-page id="contact"></app-contact-page>
  <app-footer></app-footer>
</div>
