/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
.relative.z-10 {
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  body {
    background-image: url("/assets/background-2.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
